.row
  .col-xs-12.col-sm-4
    = simple_form_for(@todo_item, remote: true) do |f|
      .form-group
        = f.input :title, label: false, placeholder: 'Add a to-do...'
      .form-group.hidden
        = f.button :submit, t("buttons.submit"), { class: 'btn-default', data: { role: 'submit' } }

  .col-md-8.hidden-xs.hidden-sm
    = render partial: 'common/calendar', locals: { current_date: Date.current }

.row
  .col-xs-12.col-sm-4
    %ul.todos#main
      %li.header
        %i.glyphicon.glyphicon-inbox
        Inbox
      = render @todos_normal

  .col-xs-12.col-sm-4
    %ul.todos#starred
      %li.header
        %i.glyphicon.glyphicon-star
        Important
      = render @todos_high

  .col-xs-12.col-sm-4
    %ul.todos#have_time
      %li.header
        %i.glyphicon.glyphicon-arrow-right
        Later
      = render @todos_low
