.row
  .col-xs-12.col-md-6
    = simple_form_for(@todo_item, remote: true) do |f|
      .input-group
        = f.input :title, label: false
        .input-group-btn
          = f.button :submit, t("buttons.submit"), { class: 'btn-default', data: { role: 'submit' } }

.row
  .col-xs-12.col-md-6
    %ul#todo
      = render @todo_items
.row
  .col-xs-12.col-md-6
    %ul#done
      = render @done_items
