.row
  .col-xs-12.col-sm-4
    = simple_form_for(@task, remote: true) do |f|
      .form-group
        = f.input :title, label: false, placeholder: 'Add a to-do...'
      .form-group.hidden
        = f.button :submit, t("buttons.submit"), { class: 'btn-default', data: { role: 'submit' } }

  .col-md-8.hidden-xs.hidden-sm
    = render partial: 'common/calendar', locals: { current_date: Date.current }

.row
  .col-xs-12
    = bootstrap_flash

.row
  .col-xs-12.col-sm-4
    %ul.todos#main
      %li.header
        Inbox
      = render(@tasks_normal) || render('empty')

  .col-xs-12.col-sm-4
    %ul.todos#starred
      %li.header
        Important Stuff
      = render(@tasks_high) || render('empty')

  .col-xs-12.col-sm-4
    %ul.todos#have_time
      %li.header
        If I Have Time
      = render(@tasks_low) || render('empty')
