%ul#calendar
  -# %li.col-xs-1.first
    -# %i{ class: 'glyphicon glyphicon-menu-left' }
  %li.col-xs-2.first
    %h4= (current_date - 2).to_s(:day)
    %p= (current_date - 2).to_s(:month_day)
  %li.col-xs-2
    %h4= (current_date - 1).to_s(:day)
    %p= (current_date - 1).to_s(:month_day)
  %li.col-xs-2.current
    %h4= current_date.to_s(:day)
    %p= current_date.to_s(:month_day)
  %li.col-xs-2
    %h4= (current_date + 1).to_s(:day)
    %p= (current_date + 1).to_s(:month_day)
  %li.col-xs-2
    %h4= (current_date + 2).to_s(:day)
    %p= (current_date + 2).to_s(:month_day)
  %li.col-xs-2.last
    %h4= (current_date + 3).to_s(:day)
    %p= (current_date + 3).to_s(:month_day)
  -# %li.col-xs-1.last
    -# %i{ class: 'glyphicon glyphicon-menu-right' }
